# Baza Danych
POSTGRES_USER=przetargi_user
POSTGRES_PASSWORD=przetargi_password
POSTGRES_DB=przetargi_db
DB_PORT=5432

# API
API_PORT=8081
ENVIRONMENT=LOCAL

# Supabase
SUPABASE_URL=twoj_url
SUPABASE_ANON_KEY=twoj_klucz